<!DOCTYPE html>
<html>
    <head>
        <title>Sleep Health Insights</title>
    </head>
    <body>
        <h1>Welcome to the Sleep Health Insights Website!</h1>
        <p>Discover insights into sleep patterns, lifestyle factors, and cardiovascular health with our comprehensive dataset. Navigate through the pages to explore the details of our study.</p>
        
        <h2>Pages:</h2>
        <ul>
            <li> <a href="{{ url_for('about') }}">About</a> </li>
            <li> <a href="{{ url_for('data') }}">Data</a> </li>
        </ul>

    </body>
</html>
